.modal {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  display: none;

  // modal spinner
  &__spinner {
    display: none;
  }

  // Modal Card
  &__item {
    width: 50rem;
    min-height: 70vh;
    background: #fff;
    box-shadow: 0px 0px 5px 2px $tertiary-color;
    display: none;

    @include verySmall {
      width: 20rem;
    }

    @include small {
      grid-template-columns: repeat(2, 1fr);
    }

    @include minHeight {
      min-height: 0;
      max-height: 540px;
    }

    @include maxHeight {
      width: 20rem;
    }

    // Modal image
    &__images {
      width: 100%;
      height: 100%;

      @include maxHeight {
        display: none;
      }

      &__img {
        width: 100%;
        height: 100%;

        & img,
        & source {
          width: 100%;
          height: 100%;
        }
      }
    }

    // Modal content
    &__content {
      &__results {
        & h2 {
          text-align: center;
          padding-top: 0.5rem;
          @include maxHeight {
            text-align: left;
            margin-left: 1.4rem;
          }
        }

        & ul {
          margin-top: 2rem;
          margin-left: 1rem;

          @include maxHeight {
            margin-top: 1rem;
          }

          & li {
            margin: 0.5rem;
            list-style: none;
            font-weight: 100;

            @include small {
              margin: 1rem;
            }

            @include maxHeight {
              margin: 0.4rem;
            }

            & span {
              font-weight: bold;
            }
          }
        }
      }
    }
  }
}

// close modal button
.close {
  position: fixed;
  right: 2%;
  top: 2%;
  cursor: pointer;
  clear: both;
  transition: all 0.35s ease-in-out;
  display: none;
  color: $secondary-color;

  &:hover {
    color: $tertiary-color;
  }
}
